.root {
    -fx-background-color: #684A52;
}
.welcome {
    -fx-background-color: #395C6B;
}

.root > Label {
    -fx-text-fill: #FAFAFA;
}

Hyperlink {
    -fx-text-fill: #D4CB92;
}

.connexion {
    -fx-background-color: #80A4ED;
}

Button {
    -fx-text-fill: #000000;
}
