

.input_I{
  margin-bottom : 20px;
  width : 350px;
  height: 30px;
}

.inscription{

  height: auto ;
  width: 700px;
  background-color: white;
  margin-top: 30px;
  font-family: sans-serif;
  position: center;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

}

.inscription button {
  margin-bottom : 10px;
  margin-top :5px;
}

.inscription p {
  padding-top: 10px;
  color: #2dc997;
  font-weight: lighter;
  font-size: 30px;
  text-align: center;
}


.inscription label{
  color: black;
  margin-left :10px;
  width : 350px;
  margin-top: -5px;
}

.label_I{
  color: darkslategrey;
  margin-left :10px;
  width : 350px;
}



.inscription input{
  width: 300px;
  height: 30px;
  border-radius: 3px; 
  border: solid;
  border-width: 1px;
  margin-left: 10px;
  background-color: #F2F2F2;
}

.inscription small{
  font-size :10px;
  font-style :italic;
  margin-left: 10px;
  margin-top: 5px;
  width : 300px;
  color: red;
}

.inscription button{
  margin-top: 20px;
  background-color:#2dc997;
  width: 450px;
  height: 40px;
  border-style: none;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  font-size: 13pt;
}
.inscription textarea{
  width:300px;
  height: 30px;
  border-radius: 3px; 
  border: solid;
  border-width: 1px;
  margin-left: 10px;
  background-color: #F2F2F2;
}

.propoform{
  margin-top :20px;
  color: #2dc997;
  background-color: white;
  width: 850px;
  height: auto;
  margin-left: 11cm;
  border-radius: 8px; 
}

.propoform h2{

  padding-top :20px;
  margin-left :10px;
  text-align : center;
  font-style: italic ;
  color: #2dc997;

}

.propoform label{
  color: black;
  margin-left :20px;
  width : 400px;
}

.propoform input{
  width: 380px;
  height: 30px;
  border-radius: 3px; 
  border:"solid 2px black" ;
  border-width: 1px;
  margin-left: 20px;
  background-color: #F2F2F2 ;
}
.propoform button{
  margin-top: 1.5cm;
  background-color:#2dc997;
  width: 450px;
  height: 40px;
  border-style: none;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  font-size: 13pt;
}

.propoform textarea{
  width: 380px;
  height: 30px;
  border-radius: 3px; 
  border: solid;
  border-width: 1px;
  margin-left: 20px;
  resize: none;
}

.propoform select{
  width: 380px;
  height: 30px;
  border-radius: 3px; 
  border:"solid 2px black" ;
  border-width: 1px;
  margin-left: 20px;
  background-color: #F2F2F2 ;
}

.propoform button{

    margin-bottom: 20px;
    margin-left: 180px;
    background-color: #2dc997;
    width: 450px;
    height: 40px;
    border-style: none;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-size: 13pt;

}

.propoform small{
  font-size :10px;
  font-style :italic;
  margin-left: 25px;
  margin-top: 5px;
  width : 300px;
  color: red;
}


.searchform{
  margin-top :20px;
  color: #2dc997;
  background-color: white;
  width: 850px;
  height: auto;
  margin-left: 11cm;
  border-radius: 8px; 
}

.searchform h2{

  padding-top :20px;
  margin-left :10px;
  text-align : center;
  font-style: italic ;
  color: #2dc997;

}

.searchform label{
  color: black;
  margin-left :20px;
  width : 400px;
}

.searchform input{
  width: 170px;
  height: 30px;
  border-radius: 3px; 
  border:"solid 2px black" ;
  border-width: 1px;
  margin-left: 20px;
  background-color: #F2F2F2 ;
}
.searchform button{
  margin-top: 1.5cm;
  background-color:#2dc997;
  width: 450px;
  height: 40px;
  border-style: none;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  font-size: 13pt;
}

.searchform textarea{
  width: 140px;
  height: 30px;
  border-radius: 3px; 
  border: solid;
  border-width: 1px;
  margin-left: 20px;
  resize: none;
}

.searchform select{
  width: 170px;
  height: 30px;
  border-radius: 3px; 
  border:"solid 2px black" ;
  border-width: 1px;
  margin-left: 20px;
  background-color: #F2F2F2 ;
}


.searchform button{

    margin-bottom: 20px;
    margin-left: 280px;
    background-color: #2dc997;
    width: 250px;
    height: 40px;
    border-style: none;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-size: 13pt;

}